<div class="fullpage">
    <div class="row g-0" style="margin: 5%;" >
        <div class="col-md-3" style="padding: 2%;" *ngFor="let item of d;let i = index">
            <div class="card mb-3" class="{{occ[i]}}">
                <img src="../assets/slot.jpg" height="100px" width="100px" class="im">
            </div>
            <div class="row g=0"><p style="text-align: center;">Slot {{i+1}} </p></div>
            <div class="row g=0"><p style="text-align: center;">{{item?.location}}</p></div>
            <div class="row g=0"><p style="text-align: center; color: blue; font-size: 12px;">TimeStamp: {{item?.timeStamp}}</p></div>
        </div>
    </div>


    <!-- <p>Data here: </p>{{d?.[0]?.status}} -->
</div>