<div class="fullpage">
<div class="row g-0">
<div class="col-md-6">
    <div class="loginbox">
        <img src="avatar.jpg" class="avatar">
            <h1>Login Here</h1>
                <form>
                    <p>Username</p>
                    <input type="text" name="" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" name="" placeholder="Enter Password">
                    <br>
                    <input type="submit" name="" value="Login"><br>
                    <a href="#" >Lost your password?</a><br>
                    <a routerLink="/signup" >Don't have an account?Register here</a> 
                </form>
    </div>
</div>
</div>
</div>

