<div class="fullpage">
    <div class="row g-0">
    <div class="col-md-6">
        <div class="sign-up-form">
            <h1>Sign Up Now</h1>
                <form>
                    <p>Username(Email-id)</p>
                    <input type="email" class="input-box" placeholder="Enter Email Id">
                    <p>Password</p>
                    <input type="password" class="input-box" placeholder="Enter Password">
                    <br>
                    <p><span><input type="checkbox"></span>I agree to the terms of services</p>
                    <button type="button" class="signup-btn">Sign Up</button>
                    <hr>
                    <p class="or">OR</p>
                    <button type="button" class="twitter-btn">Login with twitter</button>
                    <p>Already have an account ? <a routerLink="/login">Sign in</a></p>
                </form>
        </div>
    </div>
    </div>
    </div>
    
    
    
